header.global {
  a {
    color: #fff !important;
  }

  .user {
    a.user-link {
      color: #fff;
      background: none !important;
      padding-right: 8px;
      text-shadow: none;
      box-shadow: none;
    }

    .dropdown {
      height: 25px;
    }

    .dropdown-menu a {
      color: #235f9c !important;
    }
  }
}

.home > header {
  height: 460px;

  .outer-wrapper {
    text-align: center;
    padding-top: 120px;
  }

  h1 {
    font: 60px/60px "open sans", sans-serif;
    color: #fff;
    padding: 0 0 15px;
    text-shadow: 2px 2px 8px #000000;
    text-transform: uppercase;
  }

  a {
    transform: matrix(1, 0, 0, 1, -84, 0);
    -webkit-transform: matrix(1, 0, 0, 1, -84, 0);
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff !important;
    font-size: 18px;
    line-height: 20px;
    min-width: 168px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 168px;
    text-shadow: 2px 2px 8px #000000;
  }
}

#footer-openedx {
  color: #fff;

  a {
    color: #fff !important;
    border-bottom: none !important;
  }

  .fotcol {
    float: left;
  }

  .fotcol1 {
    width: 32%;
    text-align: left;

    a:hover {
      text-decoration: underline;
    }

    .link-info {
      margin: 4px 0 12px 0;
    }

    .latcp {
      margin-top: 18px;
      font-size: 12px;
    }
  }

  .fotcol2 {
    width: 37%;
    text-align: center;

    a {
      display: block;
    }

    .ctext {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  .fotcol3 {
    width: 28%;
    text-align: right;

    p {
      text-align: right;
    }

    .link-iblstudios {
      font-size: 12px;
      color: #acacac !important;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}

// Logistration page.
.login-register {

  .action-primary {
    box-shadow: 0 2px 1px 0 $blue-d2;
    background: $blue-d1;

    &:hover, &:active, &:focus {
      background: $blue;
    }

    &.current, &.active {
      box-shadow: inset 0 2px 1px 1px $blue-d1;
      background: $blue;
      color: $blue-d2;

      &:hover, &:active, &:focus {
        box-shadow: inset 0 2px 1px 1px $blue-d2;
        color: $blue-d2;
      }
    }
  }

  .nav-btn {
    border: 1px solid $blue;
    color: $blue;

    &:hover, &:active, &:focus {
      box-shadow: 0 2px 1px 0 $blue-d3;
      background: $blue;
    }

    &.current, &.active {
      box-shadow: inset 0 2px 1px 1px $blue-d1;
      background: $blue-s1;
      color: $blue-d1;

      &:hover, &:active, &:focus {
        box-shadow: inset 0 2px 1px 1px $blue-d2;
        color: $blue-d2;
      }
    }
  }

  .form-field .field-link {
    color: $link-color;
  }
}

.header-global {
  .dropdown {
    background: transparent !important;
  }

  a.user-link {
    box-shadow: none;
  }

  a.user-link:active {
    background-color: transparent !important;
  }

  a.user-link:hover {
    background: none !important;
  }

  h2.course-header {
    color: #fff !important;
    width: auto !important;
  }

  .label-username, .menu-title {
    color: #fff !important;
  }
}

.dashboard .profile-sidebar {
  border:none !important;
}
