<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about">

<h1>${_("About")}</h1>
<h2>Duke Extend: Duke Open Online Courses</h2>
<p>
Duke Extend provides Duke faculty and staff with a way to offer online modules to anyone from small, Duke-affiliated groups to the entire world. Duke Extend gives you the ability to:
</p>
<ul><li><b>Build and deliver flexible content</b>
<p>
Use Duke Extend to deliver full online courses or smaller, modular content. Courses can be offered 	&#8220;on-demand&#8221; (always available to students) or 	&#8220;session-based&#8221; (run for a limited time).
</p></li></ul><ul><li><b>
Get support that meets your teaching needs</b>
<p>
Duke University operates Duke Extend, using the Open edX technology developed by MIT and Harvard University. Duke Extend can be customized to meet your specific course needs and integrates with other Duke learning tools, such as the Warpwire video platform. Instructors can manage users and groups through the Duke NetID authentication system. 
</p>
</li></ul><ul><li><b>Reach global audiences of any size</b>
<p>
Duke Extend courses can enroll large learner groups at or beyond Duke.
</p>
</li></ul>
<h3>Ready to try Duke Extend?</h3>
<p>
<a href=mailto:"extend@duke.edu">Contact the Center for Instructional Technology</a> to discuss how you can use Duke Extend in your course or department.
</p>
<p>
Duke Extend is co-managed by Duke’s <a href="http://cit.duke.edu/">Center for Instructional Technology</a> and <a href="http://oit.duke.edu/">Office of Information Technology</a>. Duke and Duke Extend are not associated with edX or the xConsortium founded by Harvard and MIT.
</p>
</section>
</main>