<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about">

<h1>${_("About")}</h1>
<h2>${_("Duke Extend: Duke Open Online Courses")}</h2>
<p>
Duke Extend provides Duke faculty with a way to offer online modules to Duke students, selected groups of learners beyond the university , or even the entire world. Duke Extend gives you the ability to:
</p>
<h3>${_("Build and deliver flexible content")}</h3>
<p>
Use Duke Extend to deliver full online courses or smaller, modular content. Courses can be offered ‘on-demand’ (always available to students) or ‘session-based’ (run for a limited time).
</p>
<h3>${_("Get support that meets your teaching needs")}</h3>
<p>
Duke University operates Duke Extend, using the Open edX technology developed by MIT and Harvard University. Duke Extend can be customized to meet your specific course/teaching needs and integrates with other Duke learning tools (example: Warpwire video platform). Faculty can manage users and groups through the Duke NetID authentication system.
</p>
<h3>${_("Reach global audiences of any size")}</h3>
<p>
Duke Extend courses can enroll large audiences of learners at and/or beyond Duke.
</p>
<h3>${_("Ready to try Duke Extend?")}</h3>
<p>
<a href=mailto:"extend@duke.edu">Contact the Center for Instructional Technology</a> to discuss how you can use Duke Extend in your course or department.
</p>
<p>
Duke Extend is a pilot project co-managed by Duke’s <a href="http://cit.duke.edu/">Center for Instructional Technology</a> and <a href="http://oit.duke.edu/">Office of Information Technology</a>. Pilot projects and courses will run throughout 2016. The overall project will be evaluated based on user feedback and success in meeting project goals centered around providing a robust, stable, and innovative learning experience. Duke and Duke Extend are not associated with edX or the xConsortium founded by Harvard and MIT.
</p>	
</section>
</main>