<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
<section class="container about">
<!--updated content-->
<h1>${_("About")}</h1>

<p>
Duke Extend provides Duke faculty and staff the ability to offer online courses or modules to anyone in or outside the university. With Duke Extend you can: 
</p>
<h2>Build and deliver flexible content</h2>
<p>
Deliver full online courses or smaller, modular content. Offer content on-demand or around your schedule. Teach your students, school, or community.
</p>

<h2>Reach global audiences of any size</h2>
<p>
Duke Extend is built to grow, helping you expand your reach and address global challenges for communities across the world.</p>
<h2>Get support that meets your teaching needs</h2>
<p>
Duke Extend runs on the open source <a href="https://open.edx.org/">Open edX</a> platform and can be customized to meet your specific course needs. Courses or modules can integrate with other Duke learning tools and Duke NetID or OneLink authentication.
</p>

<p>
<a href=mailto:"extend@duke.edu">Contact Us</a> to discuss how you would like to use Duke Extend.
</p>
<p>
Duke Extend is a collaboration between Duke’s <a href="http://cit.duke.edu/">Center for Instructional Technology</a> and <a href="http://oit.duke.edu/">Office of Information Technology</a>. Duke and Duke Extend are not associated with edX or the xConsortium founded by Harvard and MIT.
</p><!--end of updated content-->
</section>
</main>