<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about">

<h1>${_("Terms of Service")}</h1>

<p>
The DukeExtend Service is a pilot project co-managed by Duke’s <a href="http://cit.duke.edu/">Center for Instructional Technology</a> and <a href="http://oit.duke.edu/">Office of Information Technology</a>. As a pilot project, you may experience downtime, unscheduled updates, or lost data. The Duke Extend service is not guaranteed to be available past the end of the pilot. Do not use the Duke Extend service as the sole storage location for your data. 
</p>

<p>
All users of the Duke Extend service agree to follow Duke’s acceptable <a href="http://security.duke.edu/duke-acceptable-use-policy">computing use guidelines</a> and uphold the <a href="https://studentaffairs.duke.edu/conduct/about-us/duke-community-standard">Duke Community Standard</a>.
</p>

<p>
Duke University is a community dedicated to scholarship, leadership, and service and to the principles of honesty, fairness, respect, and accountability. Citizens of this community commit to reflect upon and uphold these principles in all academic and nonacademic endeavors, and to protect and promote a culture of integrity.
</p>

<p>
To uphold the Duke Community Standard:
	<ul>
	<li>I will not lie, cheat, or steal in my academic endeavors;</li>
<li>I will conduct myself honorably in all my endeavors; and</li>
<li>I will act if the Standard is compromised.</li>
</ul>
</p>
<p>
Duke employees who use the service also agree to follow Duke policies on the <a href="http://www.hr.duke.edu/policies/expectations/computing.php">use of computing and electronic resources</a>, <a href="http://www.hr.duke.edu/policies/expectations/standards/index.php">the standard of conduct</a> and <a href="http://www.hr.duke.edu/policies/expectations/non-solicitation.php">non-solicitation</a>.
</p>
</section>